<div class="logo-container">
  <img src="/assets/logos/logoblack.png" alt="">
</div>
<form class="login-form">
  <div class="header">
    <div class="brand"><small>Bienvenido!</small></div>
    <p class="caption">Ingresa usando tus credenciales.</p>
  </div>
  <div class="inputs">
    <div class="input-container">
      <input type="text" name="Username" mdInput placeholder="Usuario" #username>
    </div>
    <div class="input-container">
      <input type="password" name="Password" mdInput placeholder="Contraseña" #password>
    </div>
    <div class="forgot">
      <a><p>¿Olvidaste tu contraseña? Haz click aqui.</p></a>
    </div>
  </div>
  <div class="buttons">
    <button class="btn login" routerLink="/" (click)="login(username.value, password.value)"><div>Ingresa <md-icon>arrow_forward</md-icon></div></button>
    <button class="btn register" routerLink="/auth/signup"><div>Registrate</div></button>
  </div>
</form>
