.overview {
  margin: 20px 0px;
  width: 100%;
}
.column {
  position: relative;
  display: inline-block;
  width: 24.6%;
  height: 58px;
  padding: 10px;
  background: #fff;
  text-align: center;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
}
.text {
  font-size: 24px;
  font-weight: 300;
}
span {
  font-size: 12px;
  color: #B4C2C9;
}
.funds {
  border-bottom: 3px solid #1158FF;
}
.funds .text {
  color: #1158FF;
}
.cutters-last-month {
  border-bottom: 3px solid #7A7CEB;
}
.cutters-last-month .text {
  color: #7A7CEB;
}
.total-orders {
  border-bottom: 3px solid #953ccc;
}
.total-orders .text{
  color: #953ccc;
}
.incomplete-orders {
  border-bottom: 3px solid #c45b49;
}
.incomplete-orders .text{
  color: #c45b49;
}
