<div class="overview">
  <div class="container u-full-width">
    <div class="row u-full-width">
      <div class="three columns funds">
        <p class="text">${{funds}} <span>Utilidad</span></p>
      </div>
      <div class="three columns cutters-last-month">
        <p class="text"> <span>Cortadores en el último mes</span></p>
      </div>
      <div class="three columns total-orders">
        <p class="text">{{completeOrders}} <span>Pedidos entregados</span></p>
      </div>
      <div class="three columns incomplete-orders">
        <p class="text">{{incompleteOrders}} <span>Pedidos sin entregar</span></p>
      </div>
    </div>
  </div>
</div>
