<nav class="navbar">
  <div class="left-container">
    <div class="brand-container">
      <img src="/assets/logos/logoblack.png" alt="SalesManager logo" class="logo">
    </div>
  </div>
  <div class="right-container">
    <div class="menu-container">
      <ul class="menu">
        <li class="menu-item">
          <i class="material-icons">notifications</i>
        </li>
        <li class="menu-item">
          user photo
        </li>
        <li class="menu-item">
          settings
        </li>
      </ul>
    </div>
  </div>
</nav>
