<div class="section-indicator">
  <p class="title">Registro</p>
  <p><small>Entrada de Productos</small></p>
</div>
<div class="card">
  <p class="card-title">
    Da de alta un nuevo pedido
  </p>
  <div class="container u-full-width">
    <div class="row u-full-width">
      <form>
        <div class="input-group">
          <div class="nine columns">
            <label for="">Nombre del cliente</label>
            <input class="u-full-width" type="text">
          </div>
          <div class="three columns">
            <label for="">Cantidad</label>
            <input class="u-full-width" type="number">
          </div>
        </div>
        <div class="input-group">
          <div class="six columns">
            <label for="">Costo total</label>
            <input class="u-full-width" type="text">
          </div>
          <div class="six columns">
            <label for="">Gramos</label>
            <input class="u-full-width" type="text">
          </div>
        </div>
        <div class="input-group">
          <div class="twelve columns">
            <label for="">Fecha</label>
            <input type="text"  class="u-full-width">
          </div>
        </div>
        <div class="input-group">
          <div class="two columns u-pull-left">
            <label for="">Hora</label>
            <input type="number" class="time">
          </div>
          <div class="two columns u-pull-left">
            <label for="">Minutos</label>
            <input type="number" class="time">
          </div>
          <div class="offset-by-six two columns">
            <span [ngClass]="{'checked': !checked}">AM</span>
            <md-slide-toggle color="primary" [checked]="checked" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}"></md-slide-toggle>
            <span [ngClass]="{'checked': checked}">PM</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
