@import './../../styles';
.login{
  background-color: $bg;
  width: 100%;
  height: 100vh;
  .logo-container{
    margin-bottom: 15%;
    .logo{
      width: 200px;
    }
  }
  .left-container{
    padding: 40px;
    float: left;
    width: 35%;
    background: $bg-white;
    height: inherit;
    .header-container{
      .header, .text{
        color: $black-text-color;
      }
    }
    .form{
      .input-group{
        width: 100%;
        margin: 35px 0px;
        input{
          width: 100%;
          padding: 15px;
          background: #fff;
          border: none;
          border-bottom: 1px solid $accent;
          font-size: 16px;
          outline: none;
          &:focus{
            border-bottom: 1px solid $primary;
          }
        }
        .login-btn{
          margin-top: 30px;
          width: 100%;
          background: $primary;
          color: $white-text-color;
          transition: $transition;
          &:hover{
            background: darken($primary, 20%);
            cursor: pointer;
          }
        }
      }
      .forgot{
        width: 100%;
        text-align: center;
        p{
          font-size: 12px;
          opacity: .7;
          transition: $transition;
          cursor: pointer;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
  .right-container{
    padding: 40px;
    float: right;
    width: 65%;
    height: inherit;
    text-align: left;
    background-image: url(/assets/images/loginbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: multiply;
    .header-container{
      position: relative;
      padding-top: 60vh;
      h3{
        font-size: 40px;
        color: $white-text-color;
      }
    }
    .text-container{
      position: relative;
      p{
        font-size: 20px;
        color: $white-text-color;
        font-weight: 300;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .right-container{
    display: none!important;
  }
  .left-container{
    width: 100%!important;
    float: none!important;
  }
}
